---
layout: default
title: All Episodes
id: episodes
---
<div class="post-single-hero bg-color-{{ site.hero.background-color }}">
  <div class="section">
    <div class="section-content">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>
  <div class="section">
    <div class="section-content pt-4 pb-0">
      <div class="row">
        <div class="col-md-8">
          {% assign episodes = site.episodes | reverse %}
          {% for episode in episodes %}
            {% include episode-listing.html %}
          {% endfor %}
        </div>
        <div class="col-md-4">
          {% include listen-and-watch.html %}
        </div>
      </div>
    </div>
  </div>