---
layout: default
id: home
backgrounds:
  team: med-blue
hero:
  banner: /img/heroes/contour.svg
  headline:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  content: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  cta_link1:
    text: Lorem ipsum dolor
    url: http://www.example.com?box1
  cta_link2:
    text: Lorem ipsum dolor sit amet
    url: http://www.example.com?box1
highlighted:
  headline: Highlighted Episodes
  introduction: These are the highlighted episodes
latest:
  headline: Latest Episodes
  introduction: These are the latest episodes
---
<div class="home-hero bg-color-{{ site.hero.background-color }}" style="background-image: url('{{ page.hero.banner }}')">
  <div class="section">
    <div class="section-content">
      <div class="hero-content">
        <h1 class="mb-3">{{ page.hero.headline }}</h1>
        <p>{{ page.hero.content }}</p>
      </div>
      <div class="hero-cta mt-4">
        <a href="{{ page.hero.cta_link1.url }}" class="btn btn-primary mb-3 mb-sm-0">{{ page.hero.cta_link1.text }}</a>
        <a href="{{ page.hero.cta_link2.url }}" class="btn btn-outline-light">{{ page.hero.cta_link2.text }}</a>
      </div>
    </div>
  </div>
</div> <!-- /home-hero -->

<!-- Highlighted Episodes -->
<div class="section section-card promo-cards">
  <div class="section-content">
    <div class="row">
      <div class="col-md-9">
        <h1>{{ page.highlighted.headline }}</h1>
        <p>{{ page.highlighted.introduction }}</p>
      </div>
      <div class="col-md-3 text-right">
        <p><a href="{% link episodes.html %}">See All</a></p>
      </div>
    </div>
    <div class="row">
      {% for episode in site.episodes limit:3 %}
        {% if episode.highlighted %}
          {% include episode-card.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- Latest Episodes -->
<div class="section section-card promo-cards">
  <div class="section-content">
    <div class="row">
      <div class="col-md-9">
        <h1>{{ page.latest.headline }}</h1>
        <p>{{ page.latest.introduction }}</p>
      </div>
      <div class="col-md-3 text-right">
        <p><a href="{% link episodes.html %}">See All</a></p>
      </div>
    </div>
    <div class="row">
      {% for episode in site.episodes limit:3 %}
        {% include episode-card.html %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="section section-background-{{ page.backgrounds.team }}">
  <div class="section-content">
    {% include contributors.html %}
  </div>
</div>