<header class="site-header">
    <div class="site-header-content">
        <div class="logo">
            <a href="/" alt="Homepage"><img src="{{ site.logo }}" class="logo" /></a>
        </div>
        <ul class="nav-menu" id="header-nav">
            <li class="home"><a href="/" title="{{ site.title }}">Home</a></li>
            <li class="episodes"><a href="/episodes" title="Blog Posts">Episodes</a></li>
            <li class="about"><a href="/about" title="Community">About</a></li>
            <li class="search"><a href="/search" title="Search"><i class="fas fa-search fa-lg fa-fw mr-1"></i></a></li>
        </ul>
        <div class="nav-mobile-link">
            <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
        </div>
    </div>
</header>